.container{
    width: 50%;
    border: 2px solid green;
    display:grid;
    grid-template-areas: "gA gA gA gA gA" "gA gA gA gA gA" "gB gC gC gC gE" "gB gC gC gC gE" ". . . . ." "gD gD gD gD gD"  ;
  
   grid-auto-rows: 50px;
   text-align:center;
}

.container > div{
   
    border: 2px solid red;
}

.gridA{
    grid-area: gA;
}

.gridB{
    grid-area: gB;
}

.gridC{
    grid-area: gC;
}

.gridD{
    grid-area: gD;
}

.gridE{
    grid-area: gE;
}