html{
    font-size:20px;
}

 th, td{
     border: 2px solid black;
     
}

th{
    font-size: 3rem;
}

table{
    padding:10px;
    font-size: 2rem;
}

body{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    font-size: large;
}

